@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
header{
	margin-right: 15%;
	margin-left: 15%;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom-width: 50%;
	border-top-width: 50%;
  color: white;
  font-family: 'Roboto', sans-serif;
   
}
body {
  font-family: 'Roboto', sans-serif;
  color: #000;
  margin: 0 auto;
  background-repeat: no-repeat ;
  background-attachment: fixed;
  background-width:100%;
  background-position: center;
  background-size: contain;
  
}
#nav-a li{
  list-style: none;
}
#nav-a nav ul {
	
	margin: 0;
  text-align: center;
 	padding-right: 20px;
 	list-style: none;
}
#nav-a nav li {
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  padding-left: 13px;
  padding-right: 13px;
  


}
#nav-a nav a {

  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

#nav-a a:hover {

  color: #691F1F;
}

.datediv{
  text-align: center;
}
.date{
  font-size: 40px;
  padding-top: 50px;
  padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
.column {
    float: left;
}

.left {
    width: 48%;
    padding-right: 1%;
    text-align: center;
}

.right {
    width: 48%;
    padding-left: 1%;
    text-align: center;
}
.mainbody{
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 20px;
  text-align: center;
}

.list{
  
  color: #17202A;
  text-decoration: none;
}
.list:hover{
  color:#212F3C;
}

h4{
  margin-bottom: 10px;
  text-align: left;
}

#nav-b ul.todo li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

#nav-b ul.todo {
  width: 100%;
  float: left;
}

#nav-b ul.todo li {
  width: 100%;
  float: left;
  font-size: 14px;
  color: #000;
  word-break: break-word;
}

#nav-b ul.todo li:last-of-type {
  margin: 0;
}

#nav-b ul.todo li .buttons {
  width: 100px;
  height: 50px;

  position: absolute;
  top: 0;
  right: 0;
}

#nav-b ul.todo li .buttons button {
  width: 50px;
  height: 50px;
  float: left;
  background: none;
  position: relative;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
}

#nav-b ul.todo li .buttons button:last-of-type:before {
  content: '';
  width: 1px;
  height: 30px;
  background: #edf0f1;

  position: absolute;
  top: 10px;
  left: 0;
}

#nav-b ul.todo li .buttons button svg {
  width: 22px;
  height: 22px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -11px 0 0 -11px;
}

#nav-b ul.todo li .buttons button.complete svg {
  border-radius: 11px;
  border: 1.5px solid #25b99a;

  transition: background 0.2s ease;
}


#nav-b ul.todo li .buttons button svg .fill {
  transition: fill 0.2s ease;
}

#nav-b ul.todo li .buttons button.remove svg .fill {
  fill: #c0cecb;
}

#nav-b ul.todo li .buttons button.remove:hover svg .fill {
    color: #555;
  border: 1px solid #555;
}


#nav-b ul.todo#completed {
  position: relative;
  padding: 60px 0 0 0;
}

#nav-b ul.todo#completed:before {
  content: '';
  width: 150px;
  height: 1px;
  background: #d8e5e0;

  position: absolute;
  top: 30px;
  left: 50%;

  margin: 0 0 0 -75px;
}

#nav-b ul.todo#todo:empty:after {
  content: 'You have nothing to-do!';
  
}

#nav-b ul.todo#completed:empty:after {
  content: 'You have yet to complete any tasks.';
}

#nav-b ul.todo#todo:after,
#nav-b ul.todo#completed:after {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 12px;
  color: #aaa;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

/* Style the header */
.header {
    color: black;
    display: inline-block;

    text-align: center;
    margin-bottom: 10px;
    margin-top: 55px;
    width: 100%;
}



/* Style the input */
input {
    border-color: black;
    border-width: 1px;
    text-align: center;
    width: 50%;
    max-width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;


}

li{
  list-style: none;
}

.ulright{

  text-align: right;
}
.ulleft{

  text-align: left;
}
.buttons{
  
}
.buttonentry{
background-color: transparent;

padding: 10px;
color: #000;
border: 1px solid #000; 
border-radius: 5px;
text-align: center;
outline: none;
text-decoration: none;
font-size: 16px;
width: 20%;
}
.buttonentry:hover{
  color: #555;
  border: 1px solid #555; 
}