#nav-b ul {
    margin: 0;
    padding: 0;
}

/* Style the list items */
#nav-b ul li {
    cursor: pointer;
    position: relative;
    padding-bottom: 10px;
    font-size: 14px;
    transition: 0.2s;
  

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* When clicked on, add a background color and strike out text */
#nav-b ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
#nav-b ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}