@import url("https://fonts.googleapis.com/css?family=Roboto:300");

* {
  font-family: "Roboto", sans-serif;
}
header {
  margin-right: 15%;
  margin-left: 15%;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  border-bottom-width: 50%;
  border-top-width: 50%;
  color: white;

  pointer-events: auto;
}
body {
  z-index: 3;
  margin: 0;
  pointer-events: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: #659999; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f4791f,
    #659999
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f4791f,
    #659999
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
canvas {
  pointer-events: auto;
  z-index: -1;
  position: absolute;
  margin-top: -40px;
  margin-bottom: 0px;
}
#nav-a li {
  list-style: none;
}
#nav-a nav ul {
  margin: 0;
  text-align: center;
  padding-left: 0px;
  list-style: none;
}
#nav-a nav li {
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  padding-left: 13px;
  padding-right: 13px;
}
#nav-a nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
#nav-a a:hover {
  color: #71c8d1;
}
.datediv {
  text-align: center;
}
.date {
  font-size: 40px;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 0px;
}
.justifyRight {
  margin-left: auto;
  margin-right: 0;
}
