@viewport {
  width: device-width;
  zoom: 1;
}

@-ms-viewport {
  width: device-width;
}
/* Style the input */
.entryForm {
  pointer-events: auto;
}
.todoListMain .entryForm input {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 16px;
  background: transparent;
  color: #fff;
  text-align: center;
}
::-webkit-input-placeholder {
  color: #ffffff;
} /* Webkit */
:-moz-placeholder {
  color: #ffffff;
} /* Firefox <= 18 */
::-moz-placeholder {
  color: #ffffff;
} /* Firefox >= 19 */
:-ms-input-placeholder {
  color: #ffffff;
} /* Internet Explorer */

.todoListMain .entryForm button {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 16px;
  background: transparent;
  color: #fff;
  transition: background-color 0.2s ease-out;
  width: 150px;
}
.todoListMain .entryForm button:hover {
  background: #659999; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f4791f,
    #659999
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f4791f,
    #659999
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.todoListMain .list li {
  pointer-events: none;
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 14px;
}
.listText {
  line-height: 50%;
  font-size: 13px;
  margin-right: 0px;
  cursor: pointer;
  pointer-events: auto;
  color: white;
  background: transparent;
  transition: color 0.2s ease-out;
}
.listText:hover {
  color: #79bcc4;
}
.todoListMain .list {
  list-style: none;
  padding-left: 0px;
  padding-right: 0px;
  /* wrappping */
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word;
  /* IE */
}
.todoListMain .list ul {
  width: 100%;
}
.entryForm {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -260px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.columns {
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 5%;
}
.columns .longTermColumn {
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: right;
  flex: 0 0 48%;
  word-break: break-all;
}
.columns .shortTermColumn {
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 0 0 48%;
  word-break: break-all;
  hyphens: auto;
}
/* media queries */
@media screen and (max-width: 900px) {
  .columns {
    margin-bottom: 14%;
  }
}
@media screen and (max-width: 600px) {
  .entryForm {
    left: 50%;
    margin-left: -180px;
  }
}
